.list-view {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.list-view .list-cell:hover {
    -fx-background-insets: 0px 10px 0px 10px;
    -fx-background-color: #fefefe ;
    -fx-background-radius: 16px;
    -fx-text-fill: #354040;
    
}

.list-view .list-cell {
    -fx-background-insets: 0px 10px 0px 10px;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 16px;
    -fx-text-fill: #fefefe;
}
